.detail-container {
    margin: 32px;

}

.detail-content {
    display: flex;
    gap: 32px;
    align-items: flex-start;
    margin-bottom: 24px;
    align-items: center;
}

.detail-image {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.10);
    object-fit: cover;
}

.detail-info-wrapper {
    width: 100%;
    display: flex;
    align-items: stretch;
}

.detail-info {
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: space-between;
    font-size: 1.1rem;
    color: #222;
    text-align: justify;
    line-height: 1.5;
}

.wishlist-btn {
    padding: 10px 24px;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s, transform 0.2s;
    width: 200px;
}

.wishlist-btn:hover {
    background: linear-gradient(90deg, #feb47b, #ff7e5f);
    transform: scale(1.05);
}

.detail-release,
.detail-rating,
.detail-genres {
    margin-top: 10px;
    font-size: 1rem;
    color: #555;
}

.detail-genres {
    font-style: italic;
}